.app {
  font-size: 18px;

  @media (min-width: 768px) {
    font-size: 38px;
  }
}

.image {
  display: none;

  @media (min-width: 2374px) {
    display: inline-block;
    margin-left: 300px;
    position: absolute;
  }
}
